$breakpoint--sm: 720px; // мобилка
$breakpoint--md: 1024px; // планшет
$breakpoint--lg: 1360px; // десктоп
$breakpoint--xl: 1440px; // FullHD

$breakpoints: (
  // мобилка, дефолт до sm
  sm: '(min-width: #{$breakpoint--sm})',
  // планшет до md
  md: '(min-width: #{$breakpoint--md})',
  // ноут до lg
  lg: '(min-width: #{$breakpoint--lg})',
  // экран до xl
  xl: '(min-width: #{$breakpoint--xl})' // fullHD
);

$breakpoints-with-max: (
  sm: '(max-width: #{$breakpoint--md - 1px})',
  md: '(min-width: #{$breakpoint--md}) and (max-width: #{$breakpoint--lg - 1px})',
  lg: '(min-width: #{$breakpoint--lg}) and (max-width: #{$breakpoint--xl - 1px})',
  xl: '(min-width: #{$breakpoint--xl})'
);

$breakpoints-only-max: (
  sm: '(max-width: #{$breakpoint--md - 1px})',
  md: '(max-width: #{$breakpoint--lg - 1px})',
  lg: '(max-width: #{$breakpoint--xl - 1px})'
);
