modules = ["nodejs-20", "vue-node-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 40815819
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development VITE_CJS_IGNORE_WARNING=true CHOKIDAR_USEPOLLING=true npm install && npm run dev -- --host 0.0.0.0 --port 8080 --force --fs-strict=false"

[[workflows.workflow]]
name = "Build"
author = 40815819
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview -- --host 0.0.0.0 --port 8080"
